body
{
	background-color: #0f0f0f;
}

h1{
	color:white;
	font-family:"GillSans";
	font-size: 1.5em;
	text-align: center;
	margin: 0px;
	line-height: 60px
}

.container{
	background-image: url(../images/Background.jpg);
	width : 960px;
	height : 457px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	margin-top: -228px;
}

.logo{
	position: absolute;
	background-repeat: no-repeat;
	margin-top:-2.6em;
	margin-left:1.1em;
}

.title{
	background-color: #A7A7A7;
	height: 60px;
}

.rs{
	position: absolute;
	background-repeat: no-repeat;
	margin-top: -2.6em;
	margin-left: 55em;
}

.box{
 	position: absolute;
 	background-color: white;
 	opacity:0.65;
	width: 450px;
	height:240px;s
  	border: 1px solid white;
  	margin-top:120px;
  	margin-left:253px;
}

.info{
	width: 450px;
	height: 240px;
}

.nom{
	background-color: #A7A7A7;
	position: absolute;
  	margin-top: 155px;
  	margin-left: 283.5px;
  	width: 170px;	
}

.mail{
	position: absolute;  	
  	margin-top: 205px;
  	margin-left: 283.5px;
	width: 170px;
}

.tel{
	position: absolute;
  	margin-top: 255px;
  	margin-left: 283.5px;
	width: 170px;	
}

textarea {
	height: 118.5px;
	width:182px;
	position: absolute;
  	margin-top:155px;
  	margin-left:474px;
  	resize: none;
}

.envoi{
	position: absolute;
  	margin-top: 63px;
  	margin-left: 552px;
}

.textbox {
	font-family:"GillSans";
	font-size: 12pt;
	border: 0px;
    background-color: #a7a7a7;
    color: white;
    padding: 9px 3px 9px 9px;
    box-shadow: 1px 1px 1px #ccc inset;
    outline: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

@media screen and (max-width: 937px) { /* RESPONSIVE */ 
	body{
		overflow-x: hidden;
	}

	.logo{
		margin-left:300px;
	}

	.rs{
		margin-left:600px;
	}
}